

// our Strengths
.strengths {
  @apply container  mx-auto px-[2%] pb-24 pt-10;
  .skills {
    h2 {
      @apply text-center text-3xl  font-bold md:pt-14 lg:pt-0;
      background: linear-gradient(1000deg, green, blue, indigo, violet, red);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      font-weight: bold;
    }
    .skills_element {
      @apply pt-20 grid grid-cols-3 md:grid-cols-4 text-center;
      li {
        div {
          @apply mb-5;
        }
        @apply text-black pb-10 dark:text-blue-400 text-sm;
        strong {
          background: linear-gradient(10deg, green, blue, indigo, violet, red);
          background-clip: text;
          -webkit-background-clip: text;
          color: transparent;
          font-weight: bold;
        }
      }
    }
    .one {
      @apply dark:invert text-center pt-20  text-white  hover:animate-pulse;
      background: url("/assets/strengs/1p.webp") no-repeat center 1% / contain;
    }
    .two {
      @apply dark:invert text-center pt-20  text-white  hover:animate-pulse;
      background: url("/assets/strengs/p2.png") no-repeat center / contain;
    }
    .three {
      @apply dark:invert  text-center pt-20  text-white  hover:animate-pulse;
      background: url("/assets/strengs/3p.webp") no-repeat center / contain;
    }
    .four {
      @apply invert dark:invert-0 text-center pt-20  text-white  hover:animate-pulse;
      background: url("/assets/svg/3.svg") no-repeat center / contain;
    }
    .five {
      @apply invert dark:invert-0 text-center pt-20  text-white  hover:animate-pulse;
      background: url("/assets/svg/5.svg") no-repeat center / contain;
    }
    .six {
      @apply dark:invert text-center pt-20  text-white  hover:animate-pulse;
      background: url("/assets/strengs/design.webp") no-repeat center / contain;
    }
    .seven {
      @apply invert dark:invert-0 text-center pt-20  text-white  hover:animate-pulse;
      background: url("/assets/svg/7.svg") no-repeat center / contain;
    }
    .eight {
      @apply dark:invert text-center pt-20  text-white  hover:animate-pulse;
      background: url("/assets/strengs/servers.png") no-repeat center / contain;
    }
    .nine {
      @apply invert dark:invert-0 text-center pt-20  text-white md:hidden  hover:animate-pulse;
      background: url("/assets/svg/9.svg") no-repeat center / contain;
    }
  }
  .img {
    background: no-repeat url("/assets/photo/weme.webp") center / contain;
    @apply mt-44 md:mx-[7%];
  }
}

.landing {
  @apply dark:bg-gray-900 flex z-10 flex-wrap pt-[5%];
  .landing_use {
    @apply container mx-auto px-[2%];
    .landing_use_top {
      @apply flex flex-col text-center w-full;
      h1 {
        @apply text-3xl md:text-3xl mb-5 pt-5;
      }
      h2 {
        @apply text-2xl  leading-relaxed tracking-widest font-medium  mb-1 p-4;
        
      }
      p {
        @apply lg:w-5/6 mx-auto py-20  md:text-xl  inline  dark:text-gray-200;
      }
    }
    .landing_use_bottom {
      @apply flex flex-wrap;
      div {
        @apply lg:w-1/2 md:w-full px-8 py-4 sm:border-l-2 lg:border-0 border-gray-400;
        h2 {
          @apply text-xl md:text-2xl text-gray-800 dark:text-gray-200 mb-2;
        }
        p {
          @apply text-sm leading-relaxed mb-4 text-gray-800 dark:text-gray-300;
        }
      }
    }
  }
}

//faq
.answerImg {
  background: url("/assets/photo/faq.webp") no-repeat center / contain;
  @apply dark:invert mr-[15%];
}
.marketing {
  background: no-repeat url("/assets/svg/m2.svg") 50% / contain;
  @apply h-full pt-64;
}

.colorText {
  background: linear-gradient(
    90deg,
    blue,
    rgb(7, 209, 244),
    red,
    orange,
    green,
    blue,
    indigo,
    violet
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
  @apply text-2xl md:text-3xl mb-5 pt-5;
}
.colorTextSmall {
  background: linear-gradient(
    90deg,
    blue,
    rgb(7, 209, 244),
    red,
    orange,
    green,
    blue,
    indigo,
    violet
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}
